## Don't add a -keep rule for InstrumentationProvider itself as R8 optimizes out reflective
## instantiation by default, and keeping the class prevents that. See
## loadInstrumentationProviders() in SdkInitActions.kt.
-keep class * implements io.embrace.android.embracesdk.internal.arch.InstrumentationProvider {
    <init>();
}
