# DevOps
.github @embrace-io/team-devops

# Global owners
* @embrace-io/sdk-android

# API surface owners
*.api @fractalwrench @fnewberg @bidetofevil
**/Embrace.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceAndroidApi.java @fractalwrench @fnewberg @bidetofevil
**/EmbraceInternalInterface.java @fractalwrench @fnewberg @bidetofevil
**/FlutterInternalInterface.java @fractalwrench @fnewberg
**/ReactNativeInternalInterface.java @fractalwrench @fnewberg @themutsi
**/UnityInternalInterface.java @fractalwrench @fnewberg
