[versions]

detektGradlePlugin = "1.23.6"
junit = "4.13.2"
kotlinExposed = "1.4.32"
dokka = "1.9.10"
lint = "30.1.0"
openTelemetryCore = "1.38.0"
openTelementrySemConv = "1.25.0-alpha"
moshi = "1.12.0"
lifecycle = "2.5.0"
lifecycle-extensions = "2.0.0"
mockk = "1.12.2"
androidx-test = "1.6.1"
androidx-test-junit = "1.1.3"
robolectric = "4.12.1"
mockwebserver = "4.9.3"
protobuf = "4.27.2"
profileinstaller = "1.0.0"
okhttp = "4.9.3"
firebase = "23.1.0"
compose = "1.0.5"

[libraries]
detekt-gradle-plugin = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detektGradlePlugin" }
dokka-gradle-plugin = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }
lifecycle-common-java8 = { group = "androidx.lifecycle", name = "lifecycle-common-java8", version.ref = "lifecycle" }
lifecycle-process = { group = "androidx.lifecycle", name = "lifecycle-process", version.ref = "lifecycle" }
lifecycle-extensions = { group = "androidx.lifecycle", name = "lifecycle-extensions", version.ref = "lifecycle-extensions" }

moshi = { group = "com.squareup.moshi", name = "moshi", version.ref = "moshi" }
moshi-kotlin-codegen = { group = "com.squareup.moshi", name = "moshi-kotlin-codegen", version.ref = "moshi" }
opentelemetry-bom = { group = "io.opentelemetry", name = "opentelemetry-bom", version.ref = "openTelemetryCore" }
opentelemetry-api = { group = "io.opentelemetry", name = "opentelemetry-api"}
opentelemetry-sdk = { group = "io.opentelemetry", name = "opentelemetry-sdk"}
opentelemetry-context = { group = "io.opentelemetry", name = "opentelemetry-context"}
opentelemetry-semconv = { group = "io.opentelemetry.semconv", name = "opentelemetry-semconv", version.ref = "openTelementrySemConv" }
opentelemetry-semconv-incubating = { group = "io.opentelemetry.semconv", name = "opentelemetry-semconv-incubating", version.ref = "openTelementrySemConv" }
mockk = { group = "io.mockk", name = "mockk", version.ref = "mockk" }
androidx-test-core = { group = "androidx.test", name = "core", version.ref = "androidx-test" }
androidx-test-runner = { group = "androidx.test", name = "runner", version.ref = "androidx-test" }
androidx-test-junit = { group = "androidx.test.ext", name = "junit", version.ref = "androidx-test-junit" }
robolectric = { group = "org.robolectric", name = "robolectric", version.ref = "robolectric" }
mockwebserver = { group = "com.squareup.okhttp3", name = "mockwebserver", version.ref = "mockwebserver" }
protobuf-java = { group = "com.google.protobuf", name = "protobuf-java", version.ref = "protobuf" }
protobuf-java-util = { group = "com.google.protobuf", name = "protobuf-java-util", version.ref = "protobuf" }
kotlin-reflect = { group = "org.jetbrains.kotlin", name = "kotlin-reflect", version.ref = "kotlinExposed" }
profileinstaller = { group = "androidx.profileinstaller", name = "profileinstaller", version.ref = "profileinstaller" }
dokka-convert = { group = "org.jetbrains.dokka", name = "kotlin-as-java-plugin", version.ref = "dokka" }
dokka-docs = { group = "org.jetbrains.dokka", name = "android-documentation-plugin", version.ref = "dokka" }
lint-api = { group = "com.android.tools.lint", name = "lint-api", version.ref = "lint" }
lint-tests = { group = "com.android.tools.lint", name = "lint-tests", version.ref = "lint" }
okhttp = { group = "com.squareup.okhttp3", name = "okhttp", version.ref = "okhttp" }
junit = { group = "junit", name = "junit", version.ref = "junit" }
firebase-messaging = { group = "com.google.firebase", name = "firebase-messaging", version.ref = "firebase" }
compose = { group = "androidx.compose.ui", name = "ui", version.ref = "compose" }

[plugins]
