[versions]

detektGradlePlugin = "1.23.6"
junit = "4.13.2"
kotlinExposed = "1.8.22"
dokka = "1.9.20"
lint = "31.6.1"
openTelemetryCore = "1.41.0"
openTelementrySemConv = "1.27.0-alpha"
moshi = "1.15.0"
lifecycle = "2.5.0"
lifecycle-extensions = "2.0.0"
protobuf = "4.27.3"
profileinstaller = "1.3.1"
okhttp = "4.12.0"
firebase = "23.1.0"
compose = "1.0.5"

[libraries]
detekt-gradle-plugin = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detektGradlePlugin" }
dokka-gradle-plugin = { module = "org.jetbrains.dokka:dokka-gradle-plugin", version.ref = "dokka" }
lifecycle-common-java8 = { group = "androidx.lifecycle", name = "lifecycle-common-java8", version.ref = "lifecycle" }
lifecycle-process = { group = "androidx.lifecycle", name = "lifecycle-process", version.ref = "lifecycle" }
lifecycle-extensions = { group = "androidx.lifecycle", name = "lifecycle-extensions", version.ref = "lifecycle-extensions" }

moshi = { group = "com.squareup.moshi", name = "moshi", version.ref = "moshi" }
moshi-kotlin-codegen = { group = "com.squareup.moshi", name = "moshi-kotlin-codegen", version.ref = "moshi" }
opentelemetry-bom = { group = "io.opentelemetry", name = "opentelemetry-bom", version.ref = "openTelemetryCore" }
opentelemetry-api = { group = "io.opentelemetry", name = "opentelemetry-api"}
opentelemetry-sdk = { group = "io.opentelemetry", name = "opentelemetry-sdk"}
opentelemetry-context = { group = "io.opentelemetry", name = "opentelemetry-context"}
opentelemetry-semconv = { group = "io.opentelemetry.semconv", name = "opentelemetry-semconv", version.ref = "openTelementrySemConv" }
opentelemetry-semconv-incubating = { group = "io.opentelemetry.semconv", name = "opentelemetry-semconv-incubating", version.ref = "openTelementrySemConv" }
protobuf-java = { group = "com.google.protobuf", name = "protobuf-java", version.ref = "protobuf" }
protobuf-java-util = { group = "com.google.protobuf", name = "protobuf-java-util", version.ref = "protobuf" }
kotlin-reflect = { group = "org.jetbrains.kotlin", name = "kotlin-reflect", version.ref = "kotlinExposed" }
profileinstaller = { group = "androidx.profileinstaller", name = "profileinstaller", version.ref = "profileinstaller" }
dokka-convert = { group = "org.jetbrains.dokka", name = "kotlin-as-java-plugin", version.ref = "dokka" }
dokka-docs = { group = "org.jetbrains.dokka", name = "android-documentation-plugin", version.ref = "dokka" }
lint-api = { group = "com.android.tools.lint", name = "lint-api", version.ref = "lint" }
lint-tests = { group = "com.android.tools.lint", name = "lint-tests", version.ref = "lint" }
okhttp = { group = "com.squareup.okhttp3", name = "okhttp", version.ref = "okhttp" }
junit = { group = "junit", name = "junit", version.ref = "junit" }
firebase-messaging = { group = "com.google.firebase", name = "firebase-messaging", version.ref = "firebase" }
compose = { group = "androidx.compose.ui", name = "ui", version.ref = "compose" }

[plugins]
