name: Android

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 60

permissions:
  contents: read

jobs:
  emulator:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        api-level:
          - 29
        working-directory: ['.', 'examples/ExampleApp']
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false

      - name: Enable KVM group perms
        run: .github/scripts/enable-kvm.sh

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      # Cache the emulator
      - name: AVD cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: create AVD and generate snapshot for caching
        if: ${{ steps.avd-cache.outputs.cache-hit != 'true' }}
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          disable-animations: false
          script: echo 'Generated AVD snapshot for caching.'

      - name: Run tests on android emulator
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        if: matrix.working-directory == 'examples/ExampleApp'
        with:
          working-directory: ${{ matrix.working-directory }}
          api-level: ${{ matrix.api-level }}
          script: "$GITHUB_WORKSPACE/.github/scripts/gradle-connected-check-example-app.sh"

      - name: Run tests on android emulator
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        if: matrix.working-directory != 'examples/ExampleApp'
        with:
          working-directory: ${{ matrix.working-directory }}
          api-level: ${{ matrix.api-level }}
          script: "$GITHUB_WORKSPACE/.github/scripts/gradle-connected-check-sdk.sh"

      - name: Archive Test Results
        if: ${{ always() && matrix.working-directory == '.' }}
        uses: actions/upload-artifact@v6
        with:
          name: android-emulator-${{ matrix.working-directory }}-test-results
          path: |
            embrace-android-sdk/build/reports/androidTests/connected
            test_failure
            emulator_logcat.log
