name: Android

on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 60

permissions:
  contents: read

jobs:
  emulator:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    strategy:
      matrix:
        api-level: [29]
        working-directory: ['.', 'examples/ExampleApp']
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      # Cache the emulator
      - name: AVD cache
        uses: actions/cache@v5
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}

      - name: create AVD and generate snapshot for caching
        if: ${{ steps.avd-cache.outputs.cache-hit != 'true' }}
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          disable-animations: false
          script: echo 'Generated AVD snapshot for caching.'

      - name: Run tests on android emulator
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        if: matrix.working-directory == 'examples/ExampleApp'
        with:
          working-directory: ${{ matrix.working-directory }}
          api-level: ${{ matrix.api-level }}
          target: default
          arch: x86_64
          cores: 4
          profile: Nexus 6
          # Grab the failures from the device so we can include them in results. Exit with non-zero so GH checks still fail.
          script: ./gradlew connectedCheck

      - name: Run tests on android emulator
        uses: reactivecircus/android-emulator-runner@b530d96654c385303d652368551fb075bc2f0b6b # v2.35.0
        if: matrix.working-directory != 'examples/ExampleApp'
        with:
          working-directory: ${{ matrix.working-directory }}
          api-level: ${{ matrix.api-level }}
          target: default
          arch: x86_64
          cores: 4
          profile: Nexus 6
          # Grab the failures from the device so we can include them in results. Exit with non-zero so GH checks still fail.
          script: ./gradlew connectedCheck -x :embrace-microbenchmark:connectedCheck --stacktrace || (adb logcat '[Embrace]:d' '*:S' -t 100000 > emulator_logcat.log && adb pull /storage/emulated/0/Android/data/io.embrace.android.embracesdk.test/cache/test_failure/ && exit 127)

      - name: Archive Test Results
        if: ${{ always() && matrix.working-directory == '.' }}
        uses: actions/upload-artifact@v6
        with:
          name: android-emulator-${{ matrix.working-directory }}-test-results
          path: |
            embrace-android-sdk/build/reports/androidTests/connected
            test_failure
            emulator_logcat.log
