name: CI

on:
  push:
    branches: [ main ]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DEPOT_RUNNER: depot-ubuntu-24.04-8

jobs:
  environment:
    runs-on: ubuntu-latest
    outputs:
      where: ${{ steps.choose.outputs.where }}
    steps:
      - id: choose
        run: |
          if [ ${GITHUB_ACTOR} != 'dependabot[bot]' ]; then
              echo "where=${DEPOT_RUNNER}" >> $GITHUB_OUTPUT
          else
              echo "where=ubuntu-latest" >> $GITHUB_OUTPUT
          fi

  gradle:
    needs: environment
    runs-on: ${{ needs.environment.outputs.where }}
    timeout-minutes: 60
    strategy:
      matrix:
        gradle-task: ['test', 'assembleRelease', 'bundleReleaseExampleApp']
      fail-fast: false
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        if: ${{ needs.environment.outputs.where == 'ubuntu-latest' }}
        with:
          tool-cache: false
          android: false

      - name: Checkout Branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - uses: actions/cache@v5
        with:
          path: |
            ~/.m2/repository/org/robolectric
          key: robolectric-${{ hashFiles('.github/fetch-robolectric-dependencies.sh') }}
          restore-keys: |
            robolectric-

      - name: Fetch Robolectric dependencies
        run: /bin/sh .github/fetch-robolectric-dependencies.sh

      - name: Gradle (embrace-gradle-plugin-integration-tests:test)
        if: ${{ matrix.gradle-task == 'test' }}
        run: ./gradlew embrace-gradle-plugin-integration-tests:test --stacktrace

      - name: Gradle (assembleRelease check -x embrace-gradle-plugin-integration-tests:test)
        if: ${{ matrix.gradle-task == 'assembleRelease' }}
        run: ./gradlew assembleRelease check embrace-microbenchmark:assembleAndroidTest -x embrace-gradle-plugin-integration-tests:test --stacktrace

      - name: Gradle (examples/ExampleApp/ bundleRelease)
        if: ${{ matrix.gradle-task == 'bundleReleaseExampleApp' }}
        working-directory: examples/ExampleApp
        run: ./gradlew bundleRelease

      - name: Archive Test Results
        if: ${{ always() && matrix.gradle-task != 'bundleReleaseExampleApp' }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results-${{ matrix.gradle-task }}
          path: '**/build/reports/tests/**'
