name: Clear CI cache

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  clear-cache:
    name: Clear CI cache
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Run GH CLI
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh cache delete --all --repo embrace-io/embrace-android-sdk
