name: Create Release Branch

on:
  workflow_call:
    inputs:
      rc_version:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      rc_version:
        description: 'Version to release. Specify <major.minor.patch>, e.g. 7.1.2. A new branch called "release/<version>" will be created where the release-specific changes will be committed.'
        required: true

permissions:
  contents: write

jobs:
  create-release-branch:
    name: Create Release Branch
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: true

      - name: Configure git
        run: .github/scripts/configure-git.sh

      - name: Create Release Branch "release/${{ inputs.rc_version }}"
        env:
          RC_VERSION: ${{ inputs.rc_version }}
        run: .github/scripts/create-release-branch.sh "$RC_VERSION"

      - name: Set version in gradle.properties
        env:
          RC_VERSION: ${{ inputs.rc_version }}
        run: .github/scripts/set-release-version.sh "$RC_VERSION"
