name: Generate Baseline Profile

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      token:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Checkout Branch
        uses: actions/checkout@v6
        with:
          persist-credentials: true

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Read version
        id: sdk_version
        run: |
          # Read the version from gradle.properties
          version=$(grep '^version' gradle.properties | cut -d'=' -f2 | tr -d '[:space:]')
          # Set the version as a step output
          echo "sdk_version=${version}" >> "$GITHUB_OUTPUT"

      - name: Publish to Maven local
        run: ./gradlew pTML

      - name: Checkout Android SDK Benchmark
        uses: actions/checkout@v6
        with:
          repository: embrace-io/android-sdk-benchmark
          ref: main
          path: ./android-sdk-benchmark
          token: ${{ secrets.GH_ANDROID_SDK_TOKEN }} # NOTE: read android-sdk-benchmark
          persist-credentials: false

      - name: Update Android SDK Benchmark version
        working-directory: android-sdk-benchmark
        env:
          SDK_VERSION: ${{ steps.sdk_version.outputs.sdk_version }}
        run: |
          # Update the embrace_version in gradle.properties
          sed -i "s/embrace_version=.*/embrace_version=${SDK_VERSION}/" gradle.properties

      - name: Clean Managed Devices
        working-directory: android-sdk-benchmark
        run: ./gradlew cleanManagedDevices --unused-only

      - name: Generate Baseline Profile
        working-directory: android-sdk-benchmark
        run: ./gradlew :macrobenchmark:pixel6Api34BaselineProfileAndroidTest
          -Pandroid.testInstrumentationRunnerArguments.androidx.benchmark.enabledRules=BaselineProfile
          -Pandroid.testoptions.manageddevices.emulator.gpu="swiftshader_indirect"
          -Pandroid.experimental.testOptions.managedDevices.maxConcurrentDevices=1

      # Sets the Baseline Profile on its proper place so it gets correctly bundled into Play Store
      - name: Move & Rename Baseline Profiles
        run: cp android-sdk-benchmark/macrobenchmark/build/outputs/managed_device_android_test_additional_output/baselineprofile/pixel6Api34/BaselineProfileGenerator_startup-baseline-prof.txt embrace-android-sdk/src/main/baseline-prof.txt

      - name: Create baseline profile PR
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --global user.name 'embrace-ci[bot]'
          git config --global user.email 'embrace-ci@users.noreply.github.com'

          branch=baseline-profile-${{ github.run_id }}
          git checkout -b $branch

          if [[ `git status --porcelain` ]]; then
            git add embrace-android-sdk/src/main/baseline-prof.txt
            git commit -m "Generate baseline profiles"
            git push -f origin $branch

            gh pr create \
                --base main \
                --head $branch \
                --title "Generate baseline profile ${GITHUB_REF}" \
                --body "Baseline Profiles help guide optimization beyond app startup by providing common user interactions that improve app runtime from the first launch" \
                --assignee ${GITHUB_ACTOR}
          else
            echo "No changes to commit"
          fi
