name: Pre-Release - Cut Release Branch and Publish Release Candidate

on:
  workflow_dispatch:
    inputs:
      version_to_release:
        description: 'Version to release. Specify <major.minor> only, without the patch number, e.g. 6.3. A new branch called "release/<version>" will be created where the release-specific changes will be committed.'
        required: true
      next_version:
        description: 'Next version. Specify <major.minor>, e.g. 6.4 (Do NOT include -SNAPSHOT, will be added automatically)'
        required: true

jobs:
  release-branch:
    name: Create Release Branches
    uses: ./.github/workflows/rc-release-branch.yml
    secrets: inherit
    with:
      version_to_release: ${{ github.event.inputs.version_to_release }}
      next_version: ${{ github.event.inputs.next_version }}

  release-candidate:
    name: Create Release Candidate
    needs: release-branch
    uses: ./.github/workflows/build-rc-workflow.yml
    secrets: inherit
    with:
      version_of_rc: ${{ github.event.inputs.version_to_release }}

  next-version:
    name: Set Next Version
    needs: release-branch
    uses: ./.github/workflows/set-version.yml
    secrets: inherit
    with:
      new_version: ${{ github.event.inputs.next_version }}"