name: Prepare New Release

on:
  workflow_dispatch:
    inputs:
      version_to_release:
        description: 'Version to release. Specify <major.minor> only, without the patch number, e.g. 6.3. A new branch called "release/<version>" will be created where the release-specific changes will be committed.'
        required: true
      next_version:
        description: 'Next version. Specify <major.minor>, e.g. 6.4 (Do NOT include -SNAPSHOT, will be added automatically)'
        required: true

jobs:
  release-branch:
    name: Create Release Branches
    uses: ./.github/workflows/rc-release-branch.yml
    secrets: inherit
    with:
      version_to_release: ${{ inputs.version_to_release }}

  update-main-versions:
    name: Update Main Versions
    uses: ./.github/workflows/update-main-versions.yml
    secrets: inherit
    with:
      next_version: ${{ inputs.next_version }}

  release-candidate:
    name: Build Release Candidates
    needs: release-branch
    uses: ./.github/workflows/build-rc-workflow.yml
    secrets: inherit
    with:
      version_of_rc: ${{ inputs.version_to_release }}
