name: Snapshot

env:
  MAVEN_QA_USER: github
  MAVEN_QA_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

on:
  workflow_dispatch:

jobs:
  functional:
    name: Run Functional Tests
    uses: ./.github/workflows/functional-tests.yml
  baseline-profile:
    name: Update Baseline Profile
    uses: ./.github/workflows/generate_baseline_profile.yml
    secrets:
      token: ${{ secrets.GH_ANDROID_SDK_TOKEN }} # NOTE: read android-sdk-benchmark
  sdk:
    name: Publish SDK to Maven Internal
    needs: [functional, baseline-profile]
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v4

      - name: Install Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # Build the entire project, run the tests, and run all static analysis
      - name: Gradle Build
        run: ./gradlew assembleRelease check --stacktrace

      - name: Archive Test Results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: android-sdk-test-results
          path: embrace-android-sdk/build/reports/tests/

      - name: Gradlew Release to internal Maven
        run: ./gradlew clean publishReleasePublicationToSnapshotRepository --stacktrace

      - name: Checkout Swazzler
        uses: actions/checkout@v4
        with:
          repository: embrace-io/embrace-swazzler3
          path: ./embrace-swazzler3
          token: ${{ secrets.GH_EMBRACE_SWAZZLER3_TOKEN }}

      - name: Swazzler Release
        run: |
          cd ./embrace-swazzler3
          ./gradlew clean publishPluginMavenPublicationToSnapshotRepository --stacktrace
