name: Publish API Docs to GitHub Pages

on:
  workflow_call:
    inputs:
      rc_version:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      rc_version:
        description: 'SDK version these docs are for. Specify <major.minor.patch> e.g. 7.1.2. It will use the branch "release/<version>".'
        required: true

permissions:
  contents: write

jobs:
  publish-api-docs:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Configure git
        run: |
          git config --global user.name 'embrace-ci[bot]'
          git config --global user.email 'embrace-ci@users.noreply.github.com'

      - name: Checkout SDK
        uses: actions/checkout@v4
        with:
          ref: release/${{ inputs.rc_version }}
          fetch-depth: 0

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Generate Documentation
        run: ./gradlew dokkaHtmlMultiModule clean --no-build-cache --no-configuration-cache

      - name: Publish GitHub Pages
        run: |
          mv build/dokka/htmlMultiModule .docs-newly-generated # new docs generated by previous step
          git checkout gh-pages
          git rm -rf docs # old docs on gh-pages branch
          mv .docs-newly-generated docs
          date > docs/version.txt
          echo ${{ github.sha }} >> docs/version.txt
          echo ${{ inputs.rc_version }} >> docs/version.txt
          git add -f docs
          git config --global user.name "embrace-ci"
          git config --global user.email "embrace-ci@users.noreply.github.com"
          git commit --allow-empty --message 'CI/CD: Automatically generated documentation for ${{ inputs.rc_version }}' docs/
          git push --force origin gh-pages

      - name: Record Version History (${{ inputs.rc_version }})
        run: |
          curl -X POST ${{ vars.SDK_VERSION_URL }}/android/version/ -H 'X-Embrace-CI: ${{ secrets.SDK_VERSION_TOKEN }}' -H 'Content-Type: application/json' -d '{"version": "${{ inputs.rc_version }}"}'
