name: Publish snapshot

env:
  ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_TOKEN_USER }}
  ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_TOKEN_USER_PASSWORD }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyId: ${{ secrets.MAVEN_ANDROID_SIGNING_KEY }}
  ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.MAVEN_ANDROID_GPG_KEY }}
  ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.MAVEN_ANDROID_SIGNING_PASSWORD }}

on:
  schedule:
    - cron: '0 5 * * *'  # Runs every day at 5:00 UTC
  workflow_dispatch:
    inputs:
      snapshot_name:
        description: 'Name of the snapshot to be published. -SNAPSHOT will be appended automatically, so just add a name. e.g. 7.7.0'
        required: false

permissions:
  contents: read

jobs:
  release:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false

      - name: Set snapshot_name in gradle.properties if set
        env:
          SNAPSHOT_NAME: ${{ inputs.snapshot_name }}
        run: .github/scripts/set-snapshot-version.sh "$SNAPSHOT_NAME"

      - name: Fail if version is not -SNAPSHOT
        run: .github/scripts/validate-snapshot-version.sh

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'adopt'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1

      - name: Publish to Maven Central
        run: .github/scripts/gradle-publish-maven-central.sh
