name: Update Trunk Versions

on:
  workflow_call:
    inputs:
      next_version:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      next_version:
        description: 'Next version. Specify <major.minor>, e.g. 6.4 (Do NOT include -SNAPSHOT, will be added automatically)'
        required: true

permissions:
  contents: write

jobs:
  update-main-versions:
    name: Update Trunk Versions
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: Configure git
        run: |
          git config --global user.name 'embrace-ci[bot]'
          git config --global user.email 'embrace-ci@users.noreply.github.com'

      - name: Checkout SDK
        uses: actions/checkout@v4
        with:
          ref: master
          token: ${{ secrets.GH_ANDROID_SDK_TOKEN }}

      - name: Set next SDK version
        run: |
          git checkout master
          sed -i -r "s#version = ([^\']+)#version = ${{ github.event.inputs.next_version }}.0-SNAPSHOT#" gradle.properties
          git add gradle.properties
          git commit -m "CI/CD: set next version: ${{ github.event.inputs.next_version }}.0-SNAPSHOT"
          git push

      - name: Checkout Swazzler
        uses: actions/checkout@v4
        with:
          repository: embrace-io/embrace-swazzler3
          ref: master
          token: ${{ secrets.GH_EMBRACE_SWAZZLER3_TOKEN }}

      - name: Set Next Swazzler Version
        run: |
          git checkout master
          sed -i -r "s#version = ([^\']+)#version = ${{ github.event.inputs.next_version }}.0-SNAPSHOT#" gradle.properties
          git add gradle.properties
          git commit -m "CI/CD: set next version: ${{ github.event.inputs.next_version }}.0-SNAPSHOT"
          git push
